@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    background-color: #FFFF;
}

main {
    background-color: #FFFF;
}

.bi {
    margin-right: 2px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #EEC2CF;
}

.cabecalho-logo {
    height: 90px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #2c2c2c;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.cabecalho-menu-item:hover {
    color: #FFFF;
    text-decoration: underline;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #2c2c2c;
    background-color: #EEC2CF;
}

.rodape-conteudo {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}

.rodape-conteudo-cri {
    display: flex;
    flex-direction: column;
}

.rodape-conteudo-doc {
    display: flex;
    flex-direction: column;
}

.link {
    color: #2c2c2c;
    text-decoration: none;
    margin-bottom: 5px;
}

.link:hover{
    color: #FFFF;
    text-decoration: underline;
}

.main-titulo {
    margin-top: 35px;
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    color: #2c2c2c;
}

#btn_edit {
    background-color: #0F1769;
    color: #FFFF;
}

#btn_delete{
    background-color: #EEC2CF;
}

th {
    font-family: 'Righteous', sans-serif;
}

td {
    font-family: 'Sarala', sans-serif;
}


#alert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}